.Root-root.css-18bo7dq {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 10px;
}

.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.Navigator-navigator.css-erpe29-MuiToolbar-root {
    display: flex;
    flex-direction: row-reverse;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #0b872a23;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background-color: #0b872a7e;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0b872abc;
    border-radius: 100px;
}